In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("employee.csv")

In [ ]:
type(df)

In [ ]:
df

In [ ]:
# display first 10 row
df.head(10)

In [ ]:
# dsiplay last 10 rows
df.tail(10)

In [ ]:
#dsiplaying information about dataframe
df.info()

In [ ]:
# display dataypes
df.dtypes

In [ ]:
df.describe()  # defaulting to numericaL columns only

In [ ]:
df.describe(include='all')

In [ ]:
# display rows,columns
df.shape

In [ ]:
# display one particular column
df['workclass']

In [ ]:
# display more columns
df[['workclass','education','age']]

In [ ]:
df[['workclass','education']].to_csv("finaloutput.csv")

In [ ]:
df.head(10).to_excel("top10records.xlsx")

In [ ]:
condition = df['workclass'] == ' Private'
df[condition]

In [ ]:
cond = df['workclass'].str.strip() == 'Private'
df[cond]

In [ ]:
df[df['workclass'].str.strip() == 'Private']

In [ ]:
# two conditions
# df[(cond1) & (cond2)]

cond1 = df['workclass'] == ' Private'
cond2 = df['education'] == ' Bachelors'

df[cond1 &  cond2]

In [ ]:
df[(df['workclass'] == ' Private') & (df['education'] == ' Bachelors')]

In [ ]:
#df.iloc[rows,columns]
df.iloc[3:10 ]   # display from 3rd to 9th row  and all the columns

In [ ]:
df.iloc[3:10 , 3:6]    #   3-9 rows and 3-5 columns

In [ ]:
#df.loc[rows,columns]
df.loc[3:10]

In [ ]:
df.loc[3:10 , "workclass":"education"]

In [ ]:
df.loc[3:10 , ["workclass","education"]]

In [ ]:
df.shape

In [ ]:
df.drop_duplicates()  # will display all unique rows

In [ ]:
df.drop_duplicates().shape   # dsiplay the (rows,columns)

In [ ]:
df[df.duplicated()]  # dsiplay duplicated records only

In [ ]:
# sorting the dataframe
df.sort_values('age') # ascending order

In [ ]:
df.sort_values('age',ascending=False)  #  descending order

In [ ]:
df.sample(frac=0.5) # display 5% of the records randomly
# df.sample(n=10)  # diplay 10 records

In [ ]:
df.dropna()   # drop rows with any column having Null values

In [ ]:
df.fillna(0)  # replace all Null values with value

In [ ]:
df.isnull().sum()

In [ ]:
df['workclass'].unique()  # display unique cells from workclass

In [ ]:
df['workclass'].nunique()

In [ ]:
len(df['workclass'].unique())

In [ ]:
df['workclass'].value_counts()

In [ ]:
# group by education and find average hours per week

df.groupby('education')['hours-per-week'].mean()

In [ ]:
# group by marital-status and get the income based on status
df.groupby('marital-status')['income'].value_counts()

In [ ]:
# group by occupation and gender and then calculate average age
df.groupby(['occupation','gender'])['age'].mean()

In [ ]:
# group by gender and count no. of rows
df.groupby('gender').size()

In [ ]:
df['gender'].value_counts()

In [ ]:
df1 = df.head()  # first 5 records
df2 = df.tail()  # last 5 records

finaldf = pd.concat([df1,df2])
finaldf = finaldf.reset_index()
finaldf

In [ ]:
df1 = df[['age','gender','education']]
df2 = df[['hours-per-week','occupation','income']]

finaldf = pd.concat([df1,df2],axis=1)  # if we axis=1 means it is column wise operation
finaldf

In [ ]:
# merge in pandas ( joins in sql)
df1 = df[['age','gender']]
df2 = df[['gender','occupation']]

#pd.merge(df1,df2 , on ='gender', how='inner')

In [ ]:
df['education'].value_counts().plot(kind = 'bar')

In [ ]:
import matplotlib.pyplot as plt
educounts = df['education'].value_counts()

plt.figure(figsize=(10,5))
plt.bar(educounts.index,educounts , color = 'skyblue')
plt.title('Education distrubtion')
plt.xlabel('education')
plt.ylabel('count')
#plt.show()
plt.savefig('finaloutput.jpg')